.editor-head {
    outline: 2px var(--main-light) solid;

    max-width: 800px;
    min-height: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.editor-head button, .editor-head select, .editor-footer button, .editor-footer input {
    height: 20px;
    margin: 5px;
    background-color: var(--color-white);
    border-radius: 2px;
}

.editor-head input {
    width: 40px;
    height: 18px;
    background-color: var(--color-white);
    border-radius: 2px;
    text-align: center;
}

.editor-footer input {
    height: 18px;
    background-color: var(--color-white);
    border-radius: 2px;
}

.editor-footer select {
    height: 20px;
    background-color: var(--color-white);
    border-radius: 2px;
}

button 
{
    position: relative;
}

button:hover::after 
{
    content: attr(data-title);
    position: relative;
    opacity: .6;
    top: -3px;
}

.editor {
    outline: 2px var(--main-light) solid;
    resize: vertical;
    overflow: auto;

    width: 100%;
    max-width: 800px;
    min-height: 500px;

    background-color: var(--color-white);
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
}

.editor-position {
    max-width: 800px;
    min-height: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.editor-footer {
    outline: 2px var(--main-light) solid;

    max-width: 800px;
    height: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;


    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: flex-end;

}
