:root {
    --main-dark: #1e1e1e;
    --main-light: #e1e1e1;
    --color-black: 	#0e1111;
    --color-white: #fafcf8;
}

* {
    transition-duration: .1s;
    /*outline: auto;/**/
    color: var(--color-black);
}

body {
    background-color: var(--main-light);
}

button, select, option, input {
    border: none;
    outline:none;
    text-decoration: none;

    cursor: pointer;
}